html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
#color-invert-btn{
  padding: 10px 20px;
  background-color: #565e67;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Jersey 10', sans-serif;
  font-size: 40px;

  /* position of the button */
  position: absolute;
  top: 600px;
  left: 300px;
}
#color-invert-btn:hover{
  background-color: #282e36;
  color: rgb(235, 224, 224);
}

#Tutorial{
  text-align: center;
  font-family: 'Jersey10', sans-serif;
  font-size: 14px;

  position: absolute;
  top: auto 0;
  left: 400px;
  transform: translateX(-50%);
}

#Tutorial h3{
  margin: 10px 0;
}

#heading1 {
  font-weight: bold;
  font-size: 20px;
}